#operator{
    width: 3rem;
    height: 5rem;
    border-style: outset;
    color: #622569;
    font-size: 1.75em;
}

#leftOperand, #rightOperand{
    width: 12rem;
    height: 5rem;
    margin-bottom: 1em;
    border-style: outset;
    color: #622569;
    font-size: 1.75em;

}

button{
    height: 6rem;
    width: 6rem;
    font-size: 1.75em;
    font-family: 'Chicle', cursive;
}

h1{
    font-family:'Butterfly Kids', cursive;
    font-size: 8rem;
}

body{
    background-image: url(../img/vectorbutterfly.jpeg);
}


.digits{
    background-color: #5b9aa0;
}

.operators {
    background-color: #b8a9c9;
}

#btnC {
    background-color: #c83349;
}